/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Paul Irish Border box */
*, *:before, *:after {
  box-sizing: border-box; }

/* Global Styles */
/* * {
	border: thin solid red;
} */
body {
  font-family: 'Inconsolata', monospace; }

a {
  text-decoration: none; }

i.menu_button {
  position: fixed;
  font-size: 1.5em;
  left: 75%;
  top: 7%;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: 0.15s ease all; }
  i.menu_button:hover, i.menu_button:active, i.menu_button:focus {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    transition: 0.15s ease all; }
  i.menu_button:active {
    padding: 1.5rem;
    font-size: 1.6em; }

.page_wrapper {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 37.5rem;
  background-color: #fff;
  transition: transform .4s ease-out; }

/* Header/sidebar column Styles*/
.sidebar ul {
  padding: 0;
  list-style: none;
  margin-bottom: 1.5em; }
  .sidebar ul a:hover, .sidebar ul a:focus {
    transition: .15s ease all; }
.sidebar a:link, .sidebar a:visited {
  color: #000;
  display: block;
  width: 100%;
  transition: 0.15s ease all; }
.sidebar a:hover, .sidebar a:focus, .sidebar a:active {
  text-decoration: underline; }
.sidebar h1 {
  font-size: 2em;
  line-height: .9em;
  margin-bottom: 1em;
  margin-top: 1.5rem;
  display: inline-block;
  /* text-transform: uppercase; */ }
  .sidebar h1 a:link, .sidebar h1 a:visited, .sidebar h1 a:hover,
  .sidebar h1 a:focus, .sidebar h1 a:active {
    display: block;
    font-weight: 400;
    color: #000;
    text-decoration: none; }
  .sidebar h1 span {
    display: block; }
.sidebar li, .sidebar p {
  font-size: 1em;
  line-height: 1.5em; }
.sidebar p {
  color: #bbb; }

.sidebar_info {
  display: none; }

/* main column styles */
.main h2 {
  margin: 1.4em 0 1.4em 0;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 400; }
.main p {
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1.4em; }
.main img {
  max-width: 100%; }
.main a:link, .main a:visited {
  color: #000;
  border-bottom: thin solid #000; }
.main a:hover, .main a:focus, .main a:active {
  border-bottom: thin dotted #000; }

/* contact page */
.contact p {
  text-transform: uppercase; }

.contact a {
  display: block;
  width: 60%; }

@media (min-width: 400px) {
  .page_wrapper {
    padding: 2rem 2rem 1rem 2rem; }

  .fixed_header h1 {
    padding-left: 2rem; } }
@media (min-width: 600px) {
  i.menu_button {
    left: 470px;
    top: 10%; }

  .page_wrapper {
    padding: 3rem 3rem 1rem 5rem; }

  .img_holder {
    width: 45%;
    margin: 0 5% 1rem 0;
    float: left; }

  .img_clicked {
    width: 95%; } }
.mobile_menu {
  display: block;
  background-color: #fff;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  padding: 1rem 1rem; }
  .mobile_menu ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.3em;
    margin-top: 2em;
    padding: 0 0 0 1em; }
    .mobile_menu ul li {
      margin-bottom: 1em; }
    .mobile_menu ul a {
      color: #000; }

body.show_menu {
  overflow-x: hidden; }
  body.show_menu .page_wrapper {
    transform: translateX(100%);
    margin-top: -10000px;
    transition: transform .4s ease-in, margin-top 0s .4s; }
    body.show_menu .page_wrapper .sidebar i.menu_button {
      color: #000; }

/* 
	use these to animate menu
	overflow-x: hide;


		transform: translateX(100%);
	margin-top: -10000px;

	 */
@media (min-width: 875px) {
  i.menu_button {
    display: none !important; }

  .page_wrapper {
    max-width: 100%;
    padding: 3rem 3rem 1rem 6rem; }

  .sidebar {
    width: 15em;
    position: fixed; }
    .sidebar h2 {
      margin-bottom: 2rem; }

  .sidebar_info {
    display: block; }

  .main {
    padding-top: 1.825rem;
    float: left;
    margin-left: 18em;
    max-width: 31.25em; }
    .main h2 {
      margin: 1.4em 0 2.2em 0; }
    .main p {
      font-size: 1rem; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
