@media (min-width: 875px) {
	i.menu_button {
		display: none !important;
	}
	.page_wrapper {
		max-width: 100%;
		padding: 3rem 3rem 1rem 6rem;
	}

	.sidebar {
		width: 15em;
		position: fixed;
		h2 {
			margin-bottom: 2rem;
		}

	}

	.sidebar_info {
		display: block;
	}	

	.main {
		padding-top: 1.825rem;
		float: left;
		margin-left: 18em;
		max-width: 31.25em;

		h2 {
			margin: 1.4em 0 2.2em 0;
		}

		p {
			font-size: 1rem;
		}
	}
}