

/* Paul Irish Border box */
*, *:before, *:after {
	box-sizing: border-box;
}

/* Global Styles */

/* * {
	border: thin solid red;
} */

body {
	font-family: 'Inconsolata', monospace;
}

a { 
	text-decoration: none;
}

i.menu_button {
	position: fixed;
	font-size: 1.5em;
	left: 75%;
	top: 7%;
	padding: 1.25rem;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
	transition: $animate;

	&:hover, &:active, &:focus {
		background-color: rgba(0, 0, 0, .9);
		color: $white;
		transition: $animate;
	}

	&:active {
		padding: 1.5rem;
		font-size: 1.6em;
	}
}
.page_wrapper {
	padding: 1rem 1rem 1rem 1rem;
	max-width: 37.5rem;
	background-color: $white;
	transition: transform .4s ease-out;
}