/* Paul Irish Border box */

*, *:before, *:after {
	box-sizing: border-box;
}

/* Global Styles */

* {
	/*border: thin solid red;*/
}

body {
	font-family: sans-serif;
}

a { 
	text-decoration: none;
}

.page_wrapper {
	padding: 1em;
	margin-top: 3rem;
}