/* fixed header bar styles */
.fixed_header {
  position: fixed;
  padding: .5em 0;
  width: 100%;
  z-index: 1;
  top: 0%;
  background-color: $black;

  h1 {
  	display: inline-block;
  	margin: 0;
  	line-height: 0;
  	padding-left: 1rem;
  }
	 
	 ul {
  	margin: 0;
  	float: right;
  	list-style: none;
  	padding-right: 1rem;
	}

	li {
  	display: inline-block;
  	margin-left: .5em;
	}
}