/* 
  fixed header bar styles 
  -- no longer using this header - keeping
    stylesheet for legacy and future uses

*/
.fixed_header {
  position: fixed;
  padding: .25em 0;
  width: 100%;
  z-index: 1;
  top: 0%;
  background-color: $black;

  h1 {
  	display: inline-block;
  	margin: 0;
  	line-height: 0;
 		padding-top: .25rem;
  	padding-left: 1rem;
  	font-size: 1.5rem;
  	color: $white;
  }
	 
	 ul {
  	margin: 0;
  	float: right;
  	list-style: none;
  	padding-right: 1rem;
	}

	li {
  	display: inline-block;
  	margin-left: .75em;
  	color: $white;
  	padding-top: .5rem;

  	i {
  		
  		font-size: 1.5rem;
  		line-height: 0;
  	}
	}

}