/* Header/sidebar column Styles*/

.sidebar {
	width: 15em;
	float: left;
	margin-right: 2.5em;
	text-transform: uppercase;

		ul {
		padding: 0;
		list-style: none;
		margin-bottom: 1.5em;
			a:hover, a:focus {
				background-color: $dmred;
				color: $white;
				transition: .15s ease all;
			}
		}

		a {
		color: $black;
		display: block;
		width: 100%;
		}

		h1 {
			font-size: 2.5em;
			line-height: .9em;
			margin-bottom: 1em;
			margin-top: 0;

			a {
				display: block;
				letter-spacing: -1px;
				font-weight: bold;
			}
			span {
				display: block;
			}
		}

		li, p {
			font-size: 1em;
		  line-height: 1.4em;
		}	
		p {
		  color: #ccc;
		}
}