.mobile_menu {
	display: block;
	background-color: $white;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
	padding: 1rem 1rem;


	ul {
		list-style: none;
		font-size: 1.8rem;
		line-height: 1.3em;
		margin-bottom: 2em;

		li {
			margin-bottom: 1em;
		}
		a {
			color: $black;
		}
	}
}

body.show_menu {
	overflow-x: hidden;

	.page_wrapper {
		transform: translateX(100%);
		margin-top: -10000px;
		transition: .4s ease all;

		.sidebar {
			i.menu_button {
				color: $black;
			}
		}
	}	

	
	
}


/* 
	use these to animate menu
	overflow-x: hide;


		transform: translateX(100%);
	margin-top: -10000px;

	 */