/* main column styles */

.main {

	h3 {
		margin: 1.4em 0 1.4em 0;
		font-size: 1.25em;
		text-transform: uppercase;
	}

	p {
		font-size: 1.1rem;
		line-height: 1.4em;
		margin-bottom: 1.4em;
	}

	img {
		max-width: 100%;
	}

	a {

	}

	a:hover, a:focus {
		transition: .15s ease all;
	}
}