/* Header/sidebar column Styles*/

.sidebar {
		ul {
		padding: 0;
		list-style: none;
		margin-bottom: 1.5em;
			a:hover, a:focus {
				transition: .15s ease all;
			}
		}

		a:link, a:visited {
		color: $black;
		display: block;
		width: 100%;
		transition: $animate;
		}

		a:hover, a:focus, a:active {
			text-decoration: underline;
		}

		h1 {
			font-size: 2em;
			line-height: .9em;
			margin-bottom: 1em;
			margin-top: 1.5rem;
			display: inline-block;
			/* text-transform: uppercase; */

			a:link, a:visited, a:hover,
			a:focus, a:active {
				display: block;
				font-weight: 400;
				color: $black;
				text-decoration: none;
			}
			span {
				display: block;
			}
		}

		li, p {
			font-size: 1em;
		  line-height: 1.5em;
		}	
		p {
		  color: $grey;
		}
}

.sidebar_info {
	display: none;
}