@import 'variables';
@import 'html5bp';
@import 'globals';
@import 'header';
@import 'sidebar';
@import 'section';



/* contact page */

.contact p {
	text-transform: uppercase;
}

.contact a {
	display: block;
	width: 60%;
}


@import 'helpers';