@import 'variables';
@import 'html5bp';
@import 'globals';
@import 'header';
@import 'sidebar';
@import 'section';
@import 'mobile';
@import 'tablet';
@import 'desktop';


/* contact page */

.contact p {
	text-transform: uppercase;
}
.contact a {
	display: block;
	width: 60%;
}


@import 'helpers';