/* Globals, border box and clearfix */

/*  
    Color palette from Kuler:
    https://color.adobe.com/Flat-UI-color-theme-2469224/
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #2c3e50;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Border rule for testing layout*/
/*

* {
    border: 1px solid red;
}*/

.app-wrapper {
    padding: 1.5rem;
    height: 100%;
}

/* card styles */

.quote-card, .button {
    box-shadow: 4px 4px 2px #273747;
    border-radius: 3px;
}
.quote-card {
    background-color: #ECF0F1;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    font-family: 'Roboto Slab', 'Georgia', serif;
}

p#quote-display {
    font-size: 1.4rem;
    line-height: 1.3em;
    color: #273747;
}

p#quote-author {
    color: #2980B9;
    text-align: right;
}

.button i {
    font-size: 1.4rem;
    vertical-align: bottom;
    margin-right: .5rem;
}
.button:link, .button:visited {
    display: block;
    float: left;
    width: 100%;
    padding: 1.4rem 1rem 1.4rem 1rem;
    margin-bottom: 1rem;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    transition: .2s ease all;
}

.button:hover, .button:active, .button:focus {
    background-color: #ad392d;
    transition: .2s ease all;
}

#tweet:link, #tweet:visited {
    background-color: #3498DB;
    transition: .2s ease all;
}

#tweet:hover, #tweet:active, #tweet:focus {
    background-color: #2a7ab0;
    transition: .2s ease all;
}
/* footer */
footer {
    color: rgba(255, 255, 255, .6);
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: rgba(52, 152, 219, .6);
    transition: .2s ease all;
}

footer a:hover, footer a:active, footer a:focus {
    color: rgba(52, 152, 219, 1);
    transition: .2s ease all;
}

/* MEDIA QUERIES */

/*  
    modified mobile/portrait view 
    to contain button width
*/
@media (min-width: 450px) {
    .button-wrapper {
        width: 15rem;
        margin: auto;
    }

    .quote-card {
        padding: 1rem 2rem;
    }
    
    .button:link, .button:visited, 
    .button:hover, .button:active, 
    .button:focus {
        padding: 1.3rem 1rem 1.3rem 1rem;
    }
}

/* landscape/desktop view */
@media (min-width: 630px) {
    .app-wrapper {
        max-width: 800px;
        margin: 15vh auto 0 auto;
    }

    .button-wrapper {
        width: 32rem;
        float: right;
    }

    .button:link, .button:visited, 
    .button:hover, .button:active, 
    .button:focus {
        width: 15rem;
        float: left;
        margin-left: 1rem;
    }

    footer {
        clear:both;
        text-align: right;
        padding-top: .5rem;
        font-size: .8rem;
        line-height: .7rem;
    }

    footer p:nth-of-type(1), footer p:nth-of-type(2) {
        display: inline;
    }

}

